{{ if .BasicInfo }}
<aside class="info aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading sr-only">Basic Information</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li>
          <i class="fas fa-map-marker-alt"></i
          ><span class="sr-only">Location:</span>{{ .BasicInfo.Location | safeHTML }}
        </li>
        <li>
          <i class="fas fa-envelope"></i
          ><span class="sr-only">Email:</span
          ><a href="mailto:{{ .BasicInfo.Mail | safeHTML }}"
            >Mail</a
          >
        </li>
        <li>
          <i class="fas fa-globe"></i
          ><span class="sr-only">Website:</span>
          <a
            href="{{ .BasicInfo.Web | safeHTML }}"
            target="_blank"
            rel="noopener"
            >Web</a
          >
        </li>
      </ul>
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</aside>
{{ end }}
