{{ if .Languages }}
<aside class="languages aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Languages</h2>
    <div class="content">
      <ul class="list-unstyled">
        {{ range .Languages }}
          <li class="item">
            <span class="title"><strong>{{ .Name | safeHTML }}:</strong></span>
            <span class="level"
              >{{ .Level | safeHTML }} <br class="visible-xs" />
              {{ if .NumStars }}
                {{ range seq (math.Max .NumStars 0) }}
                  <i class="fas fa-star"></i>
                {{ end }}
              {{ end }}
            </span>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</aside>
{{ end }}
