
<div class="container sections-wrapper py-5">
    <div class="row">
        <div class="primary col-lg-8 col-12">
            {{ partial "left/_about.html" . }}
            {{ partial "left/_work.html" . }}
            {{ partial "left/_projects.html" . }}
        </div>
        <div class="secondary col-lg-4 col-12">
            {{ partial "right/_info.html" . }}
            {{ partial "right/_skills.html" . }}
            {{ partial "right/_certs.html" . }}
            {{ partial "right/_education.html" . }}
            {{ partial "right/_qualifications.html" . }}
            {{ partial "right/_lang.html" . }}
        </div>
    </div>
</div>
